@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: satoshi;
    src: url(./font/satoshi.ttf);
}
@font-face {
    font-family: neue;
    src: url(./font/neue.woff);
}
*{
    color:#fff;
}
input:focus{
    outline: none;
    box-shadow: 0 0 0 1px #10a37f
}
.font-neue{
    font-family: neue;
}
.font-satoshi{
    font-family: satoshi;
}